In [1]:
import numpy as np
import pandas as pd

 - **Layers**: an Integer value representing the total number of hidden layers in the network (input and output layers are extra).
 
 - **Nodes**: an integer array of size [0,..,Layers+1] containing the dimensions of the neural
network. Nodes[0] shall represent the input size (typically, 50), Nodes[Layers+1]
shall represent the number of output nodes (typically, 1). All other values Nodes[i]
represent the number of nodes in hidden layer i.

 - **NNodes**: a possible alternative to the Nodes parameter for situations where you want
each hidden layer of the neural network to be of the same size. In this case, the size of
the output layer is assumed to be 1, and the size of the input layer can be inferred from
the dataset.

 - **Activations**: an array of size [0,..,Layers+1] (for the sake of compatibility) in which
Activations[0] and Activations[Layers+1] are not used, while all other
Activations[i] values are labels indicating the activation function used in layer i.
This allows you to build neural networks with different activation functions in each layer.

 - **ActivationFn**: a possible alternative to Activations when all hidden layers of your neural
network use the same activation function.

In [31]:
class NeuralNetwork:
    #Layers: an Integer value representing the total number of hidden layers in the network 
    #        (input and output layers are extra)

    def __init__(self, Layers, Nodes, NNodes, Activations, ActivationFn, a=None):
        self.Layers = Layers
        self.Nodes = Nodes
        self.NNodes = NNodes
        self.Activations = Activations
        self.ActivationFn = ActivationFn
        self.a = a # The coefficient used if using leaky Relu as the activation function, default is None
        
    # Forward Pass
        
    def Relu(self,e):
        return max(0,e)
    
    def leakyRelu(self,e):
        if e > 0:
            return e
        else:
            return self.a*e
        
    def sigmoid(self,e):
        return 1/(1+np.exp(1)**-e)
    
    def tanh(self,e):
        return 2*sigmoid(2*e) - 1
    
    def applyActivation(self,layer,i):
        acttype = self.Activations[i]
        if acttype == "Relu":
            return layer.applymap(self.Relu)
        elif acttype == "leaky":
            return layer.applymap(self.leakyRelu)
        elif acttype == "sigmoid":
            return layer.applymap(self.sigmoid)
        elif acttype == "tanh":
            return layer.applymap(self.tanh)
    
    def loss(self,z,y):
        # Performs L2 loss (for this project)
        L = 0.5*(np.array(z)-np.array(y))**2 # Assumes the squaring is element wise
        L = np.sum(L) * (1/len(z)) # Take average of all the losses
        return L        
        
    def forward_pass(self, X, y, weights):
        # Assume X already has a column of ones for bias term.
        # Assume weights include the weights for the bias term when going into next layer
        
        savings = [X]
        
        # From input layer to first hidden layer
        h = X.dot(weights[0]) # Get first hidden layer without the bias node added in
        h['ones'] = 1 # Add in bias node to the hidden layer
        savings.append(h) # Saving intermediate values
        hact = self.applyActivation(h,0) # Perform activation
        hact['ones'] = 1
        savings.append(hact) # Saving intermediate values
        h = hact
     
        for i in range(1,len(weights)):
            if i != len(weights)-1: # A hidden layer
                h = h.dot(weights[i])
                h['ones'] = 1 # Add in bias node to the hidden layer
                savings.append(h) # Saving intermediate values
                hact = self.applyActivation(h,i) # Perform activation
                hact['ones'] = 1
                savings.append(hact) # Saving intermediate values
                h = hact
            else: # For Z value/vector
                z = h.dot(weights[i])
                savings.append(z)
                
                # Calculate loss
                L = self.loss(z,y)
                savings.append(L) # Are we saving average loss over the batch?
                
        return savings
    
    # Backwards pass
    def J_loss(self,z,y):
        B = len(y)
        J = (1/B)*(np.array(z) - np.array(y))
        return J
    
    def J_sigma(self, X, activation):
        print("HERE2")
        if activation == "sigmoid":
            S = (1/(1+np.exp(-X)))
            return S.multiply(1-S)
        elif activation == "tanh":
            return 1-(X**2)
        elif activation == "Relu":
            return (X > 0).astype(int)
        elif activation == "leaky":
            return (X>0).astype(int) +  self.a*(X<0).astype(int)
        
    def J_inputlayer(self,J,w):
        #return J.dot(w.T)
        w = pd.DataFrame(w).drop([len(w)-1],axis=0)
        return J.dot(w.T)
    
    def J_weight(self,J,X):
        return (X.T).dot(J)
    
    def back_propagation(self,X,y,intermediates,weights, lr):
        J = pd.DataFrame(self.J_loss(intermediates[-2],y)) # Compute the jacobian of the loss layer evaluated at z
        w_on = True
        w_count = len(weights)-1
        act_count = len(self.Activations) - 1
        for i in range(-3,-len(intermediates),-1):
            if w_on:
                print("Here1")
                J_wn = self.J_weight(J,intermediates[i]) #J.dot(self.J_weight(intermediates[i])) # Calculate the jacobian of the weights evaluated at sigma
                # Okay, so I update the weights before I calculate the next Jacobian. For example,
                # I calculate JW4, which I will use to update the weights with gradient descent.
                # So do I update with gradient descent before or after I update the Jacobian for the hidden layer
                # w.r.t. the input layer??????? Assume update the weights last, for now.
                print("J_wn shape:",J_wn.shape)
                J = self.J_inputlayer(J,weights[w_count]) #J.dot(self.J_inputlayer(intermediates[i])) # Update jacobian by computing the jacobian of dense layer wrt input
                print("J Shape", J.shape)
                weights[w_count] = weights[w_count] - lr*J_wn # Update the weights
                print("w shape",weights[w_count].shape)
                w_count = w_count - 1 # Update the index for the next set of weights
                w_on = False # Next derivative evaluated at intermediates[i] will not update the weights
            else:
                print("HERE3")
                J = np.multiply(J,self.J_sigma(intermediates[i].drop("ones",axis=1), self.Activations[act_count])) # For activation, we use element-wise multiplication
                #J = J.multiply(self.J_sigma(intermediates[i], self.Activations[act_count])) # For activation, we use element-wise multiplication
                print("J Shape", J.shape)
                w_on = True
                act_count = act_count-1
        # Update last set of weights (W_1)
        J_w1 = self.J_weight(J,intermediates[-len(intermediates)]) #J.dot(self.J_weight(intermediates[-len(intermediates)])) 
        weights[w_count] = weights[w_count] - lr*J_w1
        print("J_wn shape:",J_w1.shape)
        return weights

    
    # Training
    
    def initialize_weights(self):
        weights = []
        for i in range(len(self.Nodes)-1):
            M = self.Nodes[i] + 1  #+1 for bias term
            N = self.Nodes[i+1]  
            w = np.random.normal(loc=0,scale = np.sqrt(2/(M+N)),size=(M,N)) 
            weights.append(w)
        return weights
    
    def train(self,X,y,lr,batch):
        pass

In [3]:
list(range(-1,-5,-1))

[-1, -2, -3, -4]

In [4]:
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [5]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
X = iris[["sepal_length", "sepal_width", "petal_length"]]
X['ones'] = 1
y = iris[["petal_width"]]

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [35]:
NN = NeuralNetwork(Layers=2, Nodes=[3,2,2,1], NNodes=None, Activations=["Relu","Relu"], ActivationFn=None, a=None)
weights = NN.initialize_weights()
intermediates = NN.forward_pass(X,y,weights)

In [8]:
J = pd.DataFrame(NN.J_loss(intermediates[-2],y))
J

            0
0   -0.001709
1   -0.001709
2   -0.001709
3   -0.001709
4   -0.001709
..        ...
145 -0.015709
146 -0.013042
147 -0.013709
148 -0.015709
149 -0.012376

[150 rows x 1 columns]

In [9]:
J_w1 = NN.J_weight(J,intermediates[-3])
J_w1

             0
0    -0.183744
1     0.000000
ones -1.255703

In [12]:
J_w1.T.drop("ones",axis=1)

          0    1
0 -0.183744  0.0

In [18]:
weights[-1]

array([[-0.47888649],
       [-0.6388806 ],
       [-1.03583099]])

In [23]:
pd.DataFrame(weights[-1]).drop([len(weights[-1])-1],axis=0)

          0
0 -0.478886
1 -0.638881

In [10]:
J = NN.J_inputlayer(J,weights[-1])
J

            0         1         2
0    0.000759  0.022833  0.002842
1    0.000732  0.022012  0.002740
2    0.000731  0.021991  0.002738
3    0.000730  0.021974  0.002735
4    0.000760  0.022873  0.002847
..        ...       ...       ...
145  0.001648  0.049589  0.006173
146  0.001468  0.044167  0.005498
147  0.001537  0.046244  0.005757
148  0.001657  0.049860  0.006207
149  0.001446  0.043499  0.005415

[150 rows x 3 columns]

In [30]:
intermediates[-4]

            0         1  ones
0    1.236094  3.033381     1
1    1.017420  2.725840     1
2    1.151376  2.794917     1
3    1.029434  2.597937     1
4    1.283162  3.039939     1
..        ...       ...   ...
145 -0.538534  1.305826     1
146 -0.672808  1.031707     1
147 -0.533771  1.227326     1
148 -0.427514  1.180887     1
149 -0.479664  1.047787     1

[150 rows x 3 columns]

In [11]:
np.multiply(J,NN.J_sigma(intermediates[-4], NN.Activations[1]))

HERE2

       0         1         2
0    0.0  0.022833  0.002842
1    0.0  0.022012  0.002740
2    0.0  0.021991  0.002738
3    0.0  0.021974  0.002735
4    0.0  0.022873  0.002847
..   ...       ...       ...
145  0.0  0.049589  0.006173
146  0.0  0.044167  0.005498
147  0.0  0.046244  0.005757
148  0.0  0.049860  0.006207
149  0.0  0.043499  0.005415

[150 rows x 3 columns]

In [28]:
J.multiply(NN.J_sigma(intermediates[-4], NN.Activations[1]), axis=1)

HERE2

       0         1   2  ones
0    0.0  0.022590 NaN   NaN
1    0.0  0.021537 NaN   NaN
2    0.0  0.021086 NaN   NaN
3    0.0  0.020242 NaN   NaN
4    0.0  0.022264 NaN   NaN
..   ...       ...  ..   ...
145  0.0  0.000287 NaN   NaN
146  0.0  0.002775 NaN   NaN
147  0.0  0.002449 NaN   NaN
148 -0.0 -0.001805 NaN   NaN
149  0.0  0.002301 NaN   NaN

[150 rows x 4 columns]

In [23]:
NN.J_sigma(intermediates[-4], NN.Activations[1])

HERE2

     0  1  ones
0    0  1     1
1    0  1     1
2    0  1     1
3    0  1     1
4    0  1     1
..  .. ..   ...
145  0  1     1
146  0  1     1
147  0  1     1
148  0  1     1
149  0  1     1

[150 rows x 3 columns]

In [36]:
neww = NN.back_propagation(X,y,intermediates,weights, lr=0.001)

Here1
J_wn shape: (3, 1)
J Shape (150, 2)
w shape (3, 1)
HERE3
HERE2
J Shape (150, 2)
Here1
J_wn shape: (3, 2)
J Shape (150, 2)
w shape (3, 2)
HERE3
HERE2
J Shape (150, 2)
J_wn shape: (4, 2)

In [38]:
pd.DataFrame(neww[0])

                     0         1
sepal_length -0.726709  0.330814
sepal_width  -0.085479  1.115497
petal_length  0.105845 -0.070225
ones          0.432891  0.285002

In [8]:
intermediates[4]

3.436342494640595

In [16]:
B=130
pd.DataFrame((1/B)*(np.array(intermediates[3]) - np.array(y)))

            0
0   -0.026594
1   -0.024967
2   -0.024340
3   -0.023409
4   -0.026205
..        ...
145 -0.044608
146 -0.039184
147 -0.041281
148 -0.042245
149 -0.036833

[150 rows x 1 columns]

# -------------------------------------------------------------------------------------------

In [8]:
def ReLu(e):
    return max(0,e)

In [9]:
def leakyRelu(e,a=0.1):
    if e > 0:
        return e
    else:
        return a*e

In [10]:
def sigmoid(e):
    return 1/(1+np.exp(1)**-e)

In [11]:
def tanh(e):
    return 2*sigmoid(2*e) - 1

In [12]:
df = iris.drop('species',axis=1)
# b = petal_width

In [13]:
w = np.random.normal(loc=0,scale = np.sqrt(2/(3+3)),size=(3,4))
w

array([[-0.2469103 ,  0.3094092 ,  0.90890716,  0.55163971],
       [-0.20161322, -0.84930151,  0.00476418, -0.80020967],
       [ 0.87599308,  0.94693851,  0.14293612, -0.76119476]])

w = np.array(df.mean())
w = [list(w)]*3
w = np.array(w)
w

In [14]:
one = np.array(df.iloc[0])
one[len(one)-1] = 1
one

array([5.1, 3.5, 1.4, 1. ])

In [15]:
h = w.dot(one)
h

array([ 1.64779942, -4.7943225 ,  7.22076531])

In [16]:
pd.Series(h).apply(tanh)

0    0.928555
1   -0.999863
2    0.999999
dtype: float64

In [17]:
h = pd.Series(h).apply(leakyRelu,args=(0.2,))
h

0    1.647799
1   -0.958864
2    7.220765
dtype: float64

In [18]:
b2 = 2
w2 = np.array([1,2,3,b2])
z = w2.dot(np.append(h,1))

In [19]:
z

23.392366348425707

In [20]:
df["petal_width"] = 1

In [21]:
df

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4            1
1             4.9          3.0           1.4            1
2             4.7          3.2           1.3            1
3             4.6          3.1           1.5            1
4             5.0          3.6           1.4            1
..            ...          ...           ...          ...
145           6.7          3.0           5.2            1
146           6.3          2.5           5.0            1
147           6.5          3.0           5.2            1
148           6.2          3.4           5.4            1
149           5.9          3.0           5.1            1

[150 rows x 4 columns]

In [22]:
w

array([[-0.2469103 ,  0.3094092 ,  0.90890716,  0.55163971],
       [-0.20161322, -0.84930151,  0.00476418, -0.80020967],
       [ 0.87599308,  0.94693851,  0.14293612, -0.76119476]])

In [23]:
w.T

array([[-0.2469103 , -0.20161322,  0.87599308],
       [ 0.3094092 , -0.84930151,  0.94693851],
       [ 0.90890716,  0.00476418,  0.14293612],
       [ 0.55163971, -0.80020967, -0.76119476]])

In [24]:
h = df.dot(w.T).applymap(ReLu)
#df.dot(w.T)
h

            0  1         2
0    1.647799  0  7.220765
1    1.542477  0  6.572097
2    1.562850  0  6.571993
3    1.738382  0  6.418287
4    1.703431  0  7.227860
..        ... ..       ...
145  4.551886  0  8.692042
146  4.314164  0  7.839589
147  4.601268  0  8.516844
148  4.980886  0  8.661408
149  4.658523  0  7.976954

[150 rows x 3 columns]

In [29]:
h["ones"] = 1

In [30]:
h

     0         1         2  ones
0    0  2.121289  0.000000     1
1    0  2.045728  0.000000     1
2    0  1.970496  0.000000     1
3    0  1.878945  0.000000     1
4    0  2.071516  0.000000     1
..  ..       ...       ...   ...
145  0  1.956001  1.004284     1
146  0  1.836375  1.298243     1
147  0  1.863307  0.950407     1
148  0  1.661929  0.563435     1
149  0  1.609539  0.750740     1

[150 rows x 4 columns]

In [31]:
z = h.dot(w2)

In [32]:
# Average Loss over batch
Lb = 0.5*((z-iris["petal_width"])**2)
(1/len(Lb))*np.sum(Lb)

21.118146926688247